# Core ML libraries
pandas
numpy
scikit-learn
joblib

# MLflow for experiment tracking
mlflow
boto3

# AWS and LocalStack
awscli-local[ver1]
requests

# API and web framework
fastapi
uvicorn
pydantic

# Database
sqlalchemy
#sqlite3  # Built-in

# Data validation
pydantic
python-multipart

# Testing
pytest
pytest-asyncio
httpx

# Environment management
python-dotenv

# Logging
loguru